body {
    background: url(../images/space.jpg) no-repeat;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 90px 0px 0px 0px;
}
